# Keystatic CMS – GitHub OAuth
# Required for the /keystatic admin UI to work on the deployed site.
# See: https://keystatic.com/docs/github-mode

KEYSTATIC_GITHUB_CLIENT_ID=Ov23liDjZhLniqVYpcyr
KEYSTATIC_GITHUB_CLIENT_SECRET=18f329bdd06e67c5ce1fd467ffdcf98219cf2c80
KEYSTATIC_SECRET="K2mnYX8LxLYV0B0rHR+yGgjh0AOVF3DQqbkLoW99bhg="
